TZ=Asia/Seoul
#
FRONTEND_TAG=draft
# FRONTEND_TRAEFIK: Get one here: https://www.uuidgenerator.net/version4
FRONTEND_TRAEFIK=
FRONTEND_DOMAIN=

# Vue settings
VUE_APP_LOCALE=en
VUE_APP_FALLBACK_LOCALE=en
VUE_APP_REST_API_KEY=secret
VUE_APP_REST_API_SERVER=
VUE_APP_REST_API_PREFIX=
VUE_APP_RECAPTCHA_SITE_KEY=secret
VUE_APP_RECAPTCHA_SECRET_KEY=secret

